// RegistrationPage.scss
@import './LoginPage.scss'; // Используем общие стили

.registration-container {
  @extend .login-container;
}

.registration-form {
  @extend .login-form;
}

.form-title {
  @extend .form-title;
}

.form-group {
  position: relative;
  margin-bottom: 1.8rem;

  label {
    @extend label;
  }

  input {
    @extend input;

    &.error {
      border-color: #e74c3c;
      box-shadow: 0 0 0 2px rgba(#e74c3c, 0.2);
    }
  }
}

.error-message {
  color: #e74c3c;
  font-size: 0.85rem;
  position: absolute;
  bottom: -1.2rem;
  left: 0;
}

.submit-btn {
  @extend .submit-btn;
  margin-top: 1.5rem;
}

.login-link {
  @extend .register-link;
}